<div class="container">
  <h1>{{title}}</h1>
  <!-- <h3>Today's Food</h3> -->
  <!-- <div *ngFor="let currentFood of foods">
    <h4>Meal Number: {{currentFood.id}}</h4>
    <p>Name: {{currentFood.name}}</p>
    <p>Details: {{currentFood.details}}</p>
    <p>Calories: {{currentFood.calories}}</p>
    <button (click)="showDetails(currentFood)">Edit</button>
  </div> -->
  <app-food-list
  [childFoodList]="masterFoodList"
  (clickSender)="showDetails($event)"
  ></app-food-list>
  <app-edit-food
    [childSelectedFood]="selectedFood"
    (doneClickedSender)="finishedEditing()"
  ></app-edit-food>
  <!-- <div *ngIf="selectedFood">
    <h3>Edit a Meal</h3>
    <div>
      <label>Enter Meal Number:</label>
      <input [(ngModel)]="selectedFood.id">
    </div>
    <div>
      <label>Enter Type of Food:</label>
      <input [(ngModel)]="selectedFood.name">
    </div>
    <div>
      <label>Enter Food Details:</label>
      <input [(ngModel)]="selectedFood.details">
    </div>
    <div>
      <label>Enter Calorie Count:</label>
      <input [(ngModel)]="selectedFood.calories">
      <button (click)="finishedEditing()">Done</button>
    </div>
  </div> -->
</div>
