<div class="container">
  <h1>{{title}}</h1>
  <!-- <h3>Today's Food</h3> -->
  <div *ngFor="let currentFood of foods">
    <!-- <h5 (click)="showDetails(currentFood)">Meal Number: {{currentFood.id}}</h5>
    <p>Name: {{currentFood.name}}</p>
    <p>Details: {{currentFood.details}}</p>
    <p>Calories: {{currentFood.calories}}</p> -->
    <h5 (click)="showDetails(currentFood)">Meal Number: {{currentFood.id}}</h5>
    <p>Name: {{currentFood.name}}</p>
    <p>Details: {{currentFood.details}}</p>
    <p>Calories: {{currentFood.calories}}</p>
    <div>
      <label>Enter Meal Number:</label>
      <input [(ngModel)]="selectedFood.id">
    </div>
    <div>
      <label>Enter Type of Food:</label>
      <input [(ngModel)]="selectedFood.name">
    </div>
    <div>
      <label>Enter Food Details:</label>
      <input [(ngModel)]="selectedFood.details">
    </div>
    <div>
      <label>Enter Calorie Count:</label>
      <input [(ngModel)]="selectedFood.calories">
    </div>

  </div>
</div>
