<h2>Log (add) a meal</h2>
<div>
  <label>Meal Number:</label>
  <input type="number" #newNumber>
</div>
<div>
  <label>Name:</label>
  <input #newName>
</div>
<div>
  <label>Food Details:</label>
  <input #newDetails>
</div>
<div>
  <label>Calories:</label>
  <input type="number" #newCalories>
  <button (click)="
  addClicked(newNumber.value, newName.value, newDetails.value, newCalories.value);
  newNumber.value='';
  newName.value='';
  newDetails.value='';
  newCalories.value='';
  ">Add</button>
</div>
