<h4>Log(Add) a Meal</h4>
<div>
  <label>Enter Meal Number:</label>
  <input #newNumber>
</div>
<div>
  <label>Enter Type of Food/Name:</label>
  <input #newName>
</div>
<div>
  <label>Enter Food Details:</label>
  <input #newDetails>
</div>
<div>
  <label>Enter Calorie Count:</label>
  <input #newCalories>
  <button (click)="
  addClicked(newNumber.value, newName.value, newDetails.value, newCalories.value);
  newNumber.value='';
  newName.value='';
  newDetails.value='';
  newCalories.value='';
  ">Add</button>
</div>
